@use "styles/abstracts/variables"as v;
@use "styles/abstracts/typo-mixins"as t;


.wrapper {
    background-color: v.$broken-white;

    /* Navbar */
    nav.navbar {
        background-color: v.$broken-white;
        z-index: 99;
        display: block;
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -o-sticky;
        position: -ms-sticky;
        position: sticky;
        top: 0;

        .navbarSection {
            display: flex;
            flex-direction: row;
            position: relative;
            justify-content: space-between;
            height: 70px;
            align-items: center;
            width: 100%;



            .links {
                display: flex;
                flex-direction: row;
                gap: 20px;

                a {
                    text-decoration: none;
                    font-weight: 500;
                    @include t.body-2;
                    color: v.$black-100;

                    &:hover {
                        color: v.$tart
                    }
                }
            }
        }
    }

    .portfolioSection {
        background-color: v.$broken-white;
        display: flex;
        flex-direction: row;
        margin-block: 96px;

        .container {
            gap: 0;
        }

        span {
            @include t.caption;
        }

        h3 {
            @include t.heading-3;
        }

        .WrapperList {
            margin-top: 32px;

        }
    }

    & .container {
        padding: 20px 0;
        max-width: 1700px;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        background-color: v.$broken-white;


        & .counterContainer {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .banner {
            background-color: v.$broken-white;
            height: 770px;
            justify-content: center;
            display: flex;
            position: relative;
            align-items: center;
            flex-direction: column;

            .bannerTitle {
                width: 100%;

                h1 {
                    @include t.display-1;
                    font-weight: 700;
                    color: v.$black-100;
                    margin: 0;
                    text-align: center;
                }


            }

            span {
                margin-top: 32px;
                text-align: center;
                @include t.body-2;
                color: v.$black-100;
                font-weight: 500;
                width: 350px;
            }

            button {
                margin-top: 53px;
                width: fit-content;
            }

            // .container {
            //     align-items: flex-start;
            //     flex-direction: column;
            //     gap: 20px;


            // }
        }





    }

    // Email Marquee
    .marqueeEmail {
        background-color: v.$broken-white;
        height: 100px;
        justify-content: center;
        display: flex;
        position: relative;
        flex-direction: column;


        .container {
            max-width: 100%;

            marquee.email {
                ul {
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    gap: 20px;

                    li {

                        display: flex;
                        gap: 20px;
                        @include t.heading-1;


                        a {
                            @include t.heading-1;
                            font-weight: 500;
                            color: v.$black-100;
                            text-decoration: none;
                        }
                    }

                    li::before {
                        content: "-";
                        color: v.$tart;
                    }
                }
            }
        }
    }


}