@use "styles/abstracts/variables"as v;
@use "styles/abstracts/typo-mixins"as t;


.wrapper {
    background-color: v.$broken-white;

    /* Navbar */
    nav.navbar {
        background-color: v.$broken-white;
        z-index: 99;
        display: block;
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -o-sticky;
        position: -ms-sticky;
        position: sticky;
        top: 0;

        .navbarSection {
            display: flex;
            flex-direction: row;
            position: relative;
            justify-content: space-between;
            height: 70px;
            align-items: center;
            width: 100%;



            .links {
                display: flex;
                flex-direction: row;
                gap: 20px;

                a {
                    text-decoration: none;
                    font-weight: 500;
                    @include t.body-2;
                    color: v.$black-100;

                    &:hover {
                        color: v.$tart
                    }
                }
            }
        }
    }

    // About Section
    .AboutSection {
        background-color: v.$broken-white;
        display: flex;
        position: relative;

        .AboutWrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;


            @media (max-width: v.$tablet-down) {
                min-height: auto;
            }

            .ImageWrapper {
                display: flex;
                width: 100%;
                min-height: 572px;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }

            .summaryWrapper {
                display: flex;
                width: 100%;
                position: relative;
                padding-block: 96px;
                background-color: v.$black-50;
                padding-left: 100px;
                padding-right: 100px;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @media (max-width: v.$tablet-down) {
                    padding-block: 50px;
                    padding-left: 0;
                    padding-right: 0px;
                }

                span {
                    @include t.heading-3;
                    color: v.$broken-white;
                    text-align: center;
                }

                button {
                    margin-top: 32px;
                    width: fit-content;
                    background-color: v.$black-100;


                }
            }
        }
    }

    // portfolio section
    .portfolioSection {
        background-color: v.$broken-white;
        display: flex;
        flex-direction: row;
        padding-block: 96px;

        @media (max-width: v.$tablet-down) {
            padding-block: 50px;
        }


        .container {
            gap: 0;
        }

        span {
            @include t.caption;
        }

        h3 {
            @include t.heading-3;
        }

        .PortfolioList {
            margin-top: 32px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;

            @media (max-width: v.$tablet-down) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: v.$mobile-up) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    & .container {
        padding: 20px 0;
        max-width: 1800px;
        margin: auto;
        display: flex;
        flex-direction: column;

        width: 100%;
        background-color: v.$broken-white;

        @media (max-width: v.$laptop-down) {
            padding: 10px;
        }


        & .counterContainer {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        // banner
        .banner {
            background-color: v.$broken-white;
            height: 550px;
            justify-content: center;
            display: flex;
            position: relative;
            align-items: center;
            flex-direction: column;

            @media (max-width: v.$tablet-down) {
                height: 400px;
            }

            .bannerTitle {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;


                h1 {
                    @include t.display-1;
                    font-weight: 600;
                    color: v.$black-100;
                    margin: 0;
                    text-align: center;

                    span {
                        @include t.body-2;
                        font-weight: 500;
                        padding: 12px 24px;
                        color: v.$broken-white;
                        letter-spacing: 2px;
                        border-radius: 12px;
                        background-color: v.$red-10;
                        position: absolute;
                        pointer-events: none;
                        width: fit-content;
                        bottom: 52%;
                        right: 20%;
                        transform: rotate(-15deg) translateX(25%) translateY(20%);

                        @media (max-width: v.$tablet-down) {
                            bottom: 57%;
                            transform: rotate(-10deg) translateX(30%) translateY(25%);
                        }

                        @media (max-width: v.$mobile-up) {
                            display: none;
                        }
                    }
                }




            }

            span {
                margin-top: 32px;
                text-align: center;
                @include t.body-2;
                color: v.$black-100;
                font-weight: 500;
                width: 350px;
            }

            button {
                margin-top: 53px;
                width: fit-content;
            }

            // .container {
            //     align-items: flex-start;
            //     flex-direction: column;
            //     gap: 20px;


            // }
        }





    }

    // Email Marquee
    .marqueeEmail {
        background-color: v.$broken-white;
        height: 100px;
        justify-content: center;
        display: flex;
        position: relative;
        flex-direction: column;


        .container {
            max-width: 100%;
            padding: 0;
            margin: 0;

            marquee.email {
                ul {
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    gap: 20px;

                    li {

                        display: flex;
                        gap: 20px;
                        @include t.heading-1;


                        a {
                            @include t.heading-1;
                            font-weight: 500;
                            color: v.$black-100;
                            text-decoration: none;
                        }
                    }

                    li::before {
                        content: "-";
                        color: v.$tart;
                    }
                }
            }
        }
    }

    //Portfolio Highlight
    .highlightPorto {
        padding-block: 96px;
        background-color: v.$black-100;

        @media (max-width: v.$tablet-down) {
            padding-block: 50px;
        }

        .container {
            background-color: v.$black-100;

            .wrapperHighlight {
                display: flex;
                flex-direction: row;
                width: 100%;
                gap: 20px;

                @media (max-width: v.$tablet-down) {
                    flex-direction: column;
                }

                .HighlightTitle {
                    display: flex;
                    position: relative;
                    width: 40%;
                    flex-direction: column;
                    align-content: center;
                    justify-content: center;

                    @media (max-width: v.$tablet-down) {
                        width: 100%;
                    }

                    span {
                        @include t.caption;
                        color: v.$broken-white;
                        margin-bottom: 8px;
                    }

                    h3 {
                        @include t.heading-3;
                        color: v.$broken-white;
                        margin-bottom: 24px;
                    }

                    p {
                        padding-right: 70px;
                        @include t.caption;
                        color: v.$broken-white;
                        letter-spacing: 0.5px;
                        text-wrap: wrap;
                        display: flex;
                    }
                }

                .HighlightColumn {
                    display: flex;
                    width: 60%;

                    @media (max-width: v.$tablet-down) {
                        width: 100%;
                    }
                }
            }
        }


    }




}